@media (max-width: 600px){
    .address i{
        color: #178582;
        font-size: small;
    }

    .socialIcons{
        margin-left: 2px;
    }

    .socialIcons span{
        margin-left: 2px
    }

    .contact{
        margin-right: 5px;
    }
    .contact span{
        margin-right: 3px
    }
    .navbar{
        position: relative;
        top: 4rem;
        background-color: #0A1828;
        color: #BFA181;
    }

    .navitems{
        display: none;
    }
    .servicesContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .service{
        display: flex;
        gap: 0.8rem;
        width: 15rem;
    }

    .contactUsContainer{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .contactUsContainer .sendMessageSection{
        border-right: none;
    }

    .goTotopBtn{
        display: none;
        position: fixed;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #106ebe;
        right: 1rem;
        bottom: 2rem;
        text-align: center;
    }

    .feedbackbtn{
        display: none;
    }

    footer{
        font-size: small;
    }
    .about .websiteLogo{
        width: 8rem;
        height: 3rem;
        border-radius: 0.2rem;
        overflow: hidden;
    }
    
    .about .websiteLogo img{
        width: 100%;
        height: 100%;
        filter: brightness(3) contrast(5);
        object-fit: cover;
    }

    .tabLinks h3{
        font-size: medium;
    }

    .socialSection h3{
        font-size: medium;
    }

    .ratingsContainer h3{
        font-size: medium;
    }
    .star{
        font-size: 1rem;
        color: gray;
        transition: color 0.3s;
    }
}