@media (max-width: 600px){
    .address i{
        color: #178582;
        font-size: small;
    }
    .contact span{
        font-size: smaller;
    }

    .quantity{
        position: absolute;
        top: -4px;
        right: 2px;
        width: 0.7rem;
        height: 0.7rem;
        text-align: center;
        background-color: #E7EBE0FF;
        color: black;
        border-radius: 50%;
    }
    .navbar{
        position: relative;
        top: 2.3rem;
        background-color: #0A1828;
        color: #BFA181;
    }

    .mobileNavbar{
        display:block !important;
    }

    .logo{
        width: 2rem;
        height: 3rem;
        border-radius: 1rem;
        overflow: hidden;
    }

    .navitems{
        display: none;
    }

    .banner .photo{
        width: 100%;
        height: 20rem;
    }

    .banner .photo img{
        width: 100%;
        height: 100%;
    }
    .banner .bannerDesc{
        right: 1rem;
    }
    .banner .bannerDesc h2{
        margin-top: 0.4rem;
        right: 1rem;
        font-size: 18px;
    }
    .servicesContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .service{
        display: flex;
        gap: 0.8rem;
        width: 15rem;
    }

    .contactUsContainer{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .contactUsContainer .sendMessageSection{
        border-right: none;
    }

    .goTotopBtn{
        display: none;
        position: fixed;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: #106ebe;
        right: 1rem;
        bottom: 2rem;
        text-align: center;
    }

    .feedbackbtn{
        display: none;
    }

    footer{
        font-size: small;
    }
    .about .websiteLogo{
        width: 5rem;
        height: 3rem;
    }
    
    .about .websiteLogo img{
        width: 100%;
        height: 100%;
        filter: brightness(3) contrast(5);
        object-fit: cover;
    }

    .tabLinks h3{
        font-size: medium;
    }

    .socialSection h3{
        font-size: medium;
    }

    .ratingsContainer h3{
        font-size: medium;
    }
    .star{
        font-size: 1rem;
        color: gray;
        transition: color 0.3s;
    }
}