*{
    padding: 0;
    margin: 0;
}

body{
   background-color: #0A1828;
}
.address{
    width: 100%;
    /* background-color: #C4DFE6; */
    /* background-color: #7DB46CFF; */
        /* background-color: #E7EBE0FF; */
        /* background-color: #4D648D; */
        background-color: #0A1828;
        color: #178582;
        /* color: #BFA181; */
        /* color: #003B46; */
}
.navbar{
    /* background-color: #0F1F38; */
    /* background-color: #66A5AD; */
    /* background-color: #283655; */
    /* background-color: #E7EBE0FF; */
    /* color: #003B46; */
    background-color: #0A1828;
    color: #BFA181;
    z-index: 5;
    
    /* color: #66A5AD;; */
}

.logo{
    width: 6rem;
    height: 8rem;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navitems{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: large;
    cursor: pointer;
}
.cartAndLogin .user,
.cart{
    width: 2rem;
    height: 2rem;
}



.cart img,
.user img{
    width: 100%;
    height: 100%;
}

.cartAndQuantity{
    position: relative;
}

.quantity{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 1rem;
    height: 1rem;
    text-align: center;
    background-color: #ccc;
    border-radius: 50%;
}

.banner{
    position: relative;
}
.banner .photo{
    width: 100%;
    height: 50rem;
}
.banner .photo img{
    width: 100%;
    height: 100%;
}

.banner .bannerDesc{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: left;
    color: #BFA181;
}
/* 7DB46CFF
E7EBE0FF
ABD6Dfff */